@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;800&display=swap");

body {
  background-color: rgb(139, 138, 123);
  font-family: "Sarabun", sans-serif;
  max-width: 964px;
  margin: 0 auto;
}

article {
  padding: 4rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 182px;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  grid-template-areas: "_topper topper" "header _header" "content toc";
}

@media (max-width: 964px) {
  article {
    padding: 2rem;
    max-width: 604px;
    grid-template-areas: "_topper topper" "header header" "toc toc" "content content";
  }
  article > h2 {
    position: relative;
    right: 14px;
  }
}

@media (max-width: 600px) {
  article {
    padding: 1rem;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

article > h2 {
  grid-area: topper;
}

article > h2:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 1rem;
  top: -1rem;
  background: black;
  position: relative;
}

header {
  grid-area: header;
}
header > h3 {
  position: relative;
}

section {
  grid-area: content;
}

nav {
  grid-area: toc;
}
nav h3 {
  text-transform: uppercase;
}
nav:after {
  content: "";
  margin-top: 4rem;
  display: inline-block;
  width: 1rem;
  height: 3rem;
  background: black;
}

@media (max-width: 964px) {
  nav:after {
    height: 1rem;
    width: 3rem;
  }
}

section p {
  text-align: justify;
  margin-bottom: 1rem;
}

canvas {
  image-rendering: pixelated;
}
